@page "/"

<main class="landingpage-container">
    <div class="header-container">
        <div class="header-content-left">
            <a class="header-content-link header-content-logo" href="https://www.cegeka.com/">
                <img src="cegeka-logo-white.webp" />
            </a>
        </div>
    </div>
    <div class="landingpage-left-content">
        <h2 class="landingpage-h2 landingpage-h2-color-light">
            Blazing scrum poker
            made fun.
        </h2>
        <div class="landingpage-verticalspace-l"></div>
        <div class="landingpage-subtitle">
            <p class="landingpage-p landingpage-p-color-white landingpage-p-fontsize-1">
                The best poker planning app in Cegeka for agile development teams.
            </p>
        </div>
        <div class="landingpage-verticalspace-xxl"></div>
        <div class="landingpage-cta">
            <button class="landingpage-cta-button landingpage-cta-button-primary landingpage-cta-button-color-white landingpage-cta-button-expand"
                    type="button"
                    @onclick="CreateRoom">
                <span class="landingpage-cta-button-content">
                    <span class="landingpage-cta-button-label">
                        Create a new room
                    </span>
                </span>
            </button>
        </div>
    </div>
    <div class="landingpage-right-content">
        <div class="landingpage-right-content-image">
            <img src="undraw_team_work_k80m.svg" />
        </div>
    </div>
</main>